<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:C:\\Users\\andre\\Desktop\\Facultate\\Facultate-sem IV\\Ingineria sistemelor soft\\identifier.sqlite</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.foreign_keys">true</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping resource="subscribers/subscribers.hbm.xml"/>
        <mapping resource="books/subscribers.hbm.xml"/>
        <mapping resource="borrowings/borrowings.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
